.container{
     display: flex;
     flex-direction: column;
     height: 100vh;
}
.header{
     flex: 15%;
    background-color: pink;
}
.menu{
     flex: 5%;
    background-color: yellow;
}
.content{
     flex: 70%;
     background-color: blue;
}
.footer{
     flex: 10%;
     background-color: white;
}
h1{
  color: red;
}
.f1{
  color:tomato;
 margin-top: 18px;
 margin-bottom: 12px;
 font-size: 20px;
 font-weight: bold;
 font-family: Arial;
}
.f2{
  color:tomato;
 margin-top: 6px;
 margin-bottom: 6px;
 font-size: 15px;
 font-style: normal;
 font-family: Arial;
}
  
    
